Repository CIeNET-International/ml-auto-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mbzomowski, @RissyRan, @allenwang28, @chandrasekhard2, @ZhaoyueCheng, @richardsliu, @JackCaoG, @vanbasten23, @zpcore, @ManfeiBai, @tengyifei, @jonb377, @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @jiangjy1982, @ortibazar, @sganeshb, @brajiang, @wlzhg, @parambole, @aireenmei, @michelle-yooh, @jiya-zhang, @yeandy, @vipannalla, @morgandu, @mailvijayasingh, @sixiang-google, @joezijunzhou, @singh-mitali, @crankshaw-google, @polydier1

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @mbzomowski @RissyRan @allenwang28

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng @richardsliu
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng @richardsliu

dags/pytorch_xla @JackCaoG @vanbasten23 @zpcore @ManfeiBai
dags/legacy_test/tests/pytorch @JackCaoG @vanbasten23 @zpcore @ManfeiBai

dags/mantaray @ManfeiBai @tengyifei @zpcore

dags/multipod @jonb377 @tonyjohnchen @raymondzouu @gobbleturk @shralex @RissyRan @jiangjy1982

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/sparsity_diffusion_devx @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh
dags/sparsity_diffusion_devx/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang
dags/sparsity_diffusion_devx/configs/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang

dags/inference @yeandy @vipannalla @morgandu @mailvijayasingh @sixiang-google @joezijunzhou @singh-mitali

dags/map_reproducibility @crankshaw-google @polydier1

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
Owners: @crankshaw-google, @polydier1

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @crankshaw-google, @polydier1

Added extra tests for TPU Axlearn training
  dags/sparsity_diffusion_devx/configs/common.py
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

update
  dags/map_reproducibility/utils/common_utils_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @crankshaw-google, @polydier1

add: Added DAG with interuption, interruption and validation and Checking GCS bucket
  dags/common/vm_resource.py
  dags/gcs_bucket.py
  dags/multipod/maxtext_multi_tier_checkpointing_GCS.py
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @mbzomowski, @RissyRan, @allenwang28, @jonb377, @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @jiangjy1982

add: Add local validation and interruption DAG
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @jonb377, @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982, @mbzomowski, @allenwang28

fix: Remove multiple interruptions from maxtext_multi_tier_checkpointing_sav02_interrupt
  xlml/apis/task.py
Owners: @mbzomowski, @RissyRan, @allenwang28

feat(multipod): forward parent run_id to child DAGs in maxtext_e2e_tests
  dags/multipod/maxtext_e2e_tests.py
Owners: @jonb377, @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982
