Repository CIeNET-International/ml-auto-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @will-cromar, @allenwang28, @sshahrokhi, @gkroiz, @chandrasekhard2, @ZhaoyueCheng, @jonb377, @JackCaoG, @vanbasten23, @zpcore, @ortibazar, @sganeshb, @brajiang, @wlzhg, @jiya-zhang, @yeandy, @vipannalla

.github/CODEOWNERS:

# @RissyRan and @will-cromar will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @RissyRan @will-cromar @allenwang28

dags/solutions_team/configs/flax @sshahrokhi
dags/solutions_team/solutionsteam_flax* @sshahrokhi

dags/solutions_team/configs/pax @gkroiz
dags/solutions_team/solutionsteam_pax* @gkroiz

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng

dags/pytorch_xla @will-cromar @jonb377 @JackCaoG @vanbasten23 @zpcore
dags/legacy_test/tests/pytorch @will-cromar @jonb377 @JackCaoG @vanbasten23 @zpcore

dags/multipod @jonb377

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/imagegen_devx @RissyRan
dags/imagegen_devx/project_bite* @RissyRan @jiya-zhang
dags/imagegen_devx/configs/project_bite* @RissyRan @jiya-zhang

dags/inference @yeandy @vipannalla

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
Owners: @RissyRan, @will-cromar, @allenwang28

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @RissyRan, @will-cromar, @allenwang28

Added extra tests for TPU Axlearn training
  dags/sparsity_diffusion_devx/configs/common.py
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @will-cromar, @allenwang28

update
  dags/map_reproducibility/utils/common_utils_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @RissyRan, @will-cromar, @allenwang28

add: Added DAG with interuption, interruption and validation and Checking GCS bucket
  dags/common/vm_resource.py
  dags/gcs_bucket.py
  dags/multipod/maxtext_multi_tier_checkpointing_GCS.py
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @RissyRan, @will-cromar, @allenwang28, @jonb377

add: Add local validation and interruption DAG
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @jonb377, @RissyRan, @will-cromar, @allenwang28

fix: Remove multiple interruptions from maxtext_multi_tier_checkpointing_sav02_interrupt
  xlml/apis/task.py
Owners: @RissyRan, @will-cromar, @allenwang28

feat(multipod): forward parent run_id to child DAGs in maxtext_e2e_tests
  dags/multipod/maxtext_e2e_tests.py
Owners: @jonb377
