Repository CIeNET-International/ml-auto-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RissyRan, @allenwang28, @jiangjy1982, @chandrasekhard2, @ZhaoyueCheng, @JackCaoG, @vanbasten23, @zpcore, @ManfeiBai, @jonb377, @tonyjohnchen, @raymondzouu, @ortibazar, @sganeshb, @brajiang, @wlzhg, @parambole, @aireenmei, @jiya-zhang, @yeandy, @vipannalla, @morgandu, @mailvijayasingh, @sixiang-google, @joezijunzhou, @singh-mitali

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
Owners: @RissyRan, @allenwang28, @jiangjy1982

update
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @RissyRan, @allenwang28, @jiangjy1982

Added extra tests for TPU Axlearn training
  dags/sparsity_diffusion_devx/configs/common.py
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @allenwang28, @jiangjy1982

update
  dags/map_reproducibility/utils/common_utils_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @RissyRan, @allenwang28, @jiangjy1982

add: Added DAG with interuption, interruption and validation and Checking GCS bucket
  dags/common/vm_resource.py
  dags/gcs_bucket.py
  dags/multipod/maxtext_multi_tier_checkpointing_GCS.py
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @RissyRan, @allenwang28, @jiangjy1982, @jonb377, @tonyjohnchen, @raymondzouu

add: Add local validation and interruption DAG
  dags/multipod/maxtext_multi_tier_checkpointing_interrupt_and_validation.py
  xlml/apis/task.py
  xlml/utils/xpk.py
Owners: @jonb377, @tonyjohnchen, @raymondzouu, @RissyRan, @allenwang28, @jiangjy1982

fix: Remove multiple interruptions from maxtext_multi_tier_checkpointing_sav02_interrupt
  xlml/apis/task.py
Owners: @RissyRan, @allenwang28, @jiangjy1982

feat(multipod): forward parent run_id to child DAGs in maxtext_e2e_tests
  dags/multipod/maxtext_e2e_tests.py
Owners: @jonb377, @tonyjohnchen, @raymondzouu

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @RissyRan @allenwang28 @jiangjy1982

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng

dags/pytorch_xla @JackCaoG @vanbasten23 @zpcore @ManfeiBai
dags/legacy_test/tests/pytorch @JackCaoG @vanbasten23 @zpcore @ManfeiBai

dags/multipod @jonb377 @tonyjohnchen @raymondzouu

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/imagegen_devx @RissyRan @parambole @jiangjy1982 @aireenmei
dags/imagegen_devx/project_bite* @RissyRan @jiya-zhang @jiangjy1982 @aireenmei
dags/imagegen_devx/configs/project_bite* @RissyRan @jiya-zhang @jiangjy1982 @aireenmei
dags/imagegen_devx/configs/jax_ss_config* @parambole @RissyRan @jiangjy1982 @aireenmei
dags/imagegen_devx/maxtext_jax_ss_e2e* @parambole @RissyRan @jiangjy1982 @aireenmei

dags/inference @yeandy @vipannalla @morgandu @mailvijayasingh @sixiang-google @joezijunzhou @singh-mitali
